.home-style {
    width: 100%;
}
.home-style ul{
    text-align: center;
    // background:#ff0;
}
.home-style ul li{
    // background:#0f0;
    width: 25%;
    float: left;
}
.home-style ul li a{
    color: black;
    
}